@model RMSDataModel.Department

@{
    ViewBag.Title = "Department Details";
}

<h2>@ViewBag.Title</h2>

<div>
    <h4>Department</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LeastCGPAToPass)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LeastCGPAToPass)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LeastGPToPass)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LeastGPToPass)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DepartmentID }, new { @class = "btn btn-info btn-md", role = "button" }) |
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-info btn-md", role = "button" })
</p>
