@model RMSDataModel.Enrollment

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Enrollment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Course.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Course.Title)
        </dd>

        

        <dt>
            @Html.DisplayNameFor(model => model.Student.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Semester)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Semester)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CalenderYear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CalenderYear)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CEMark)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CEMark)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FinalMark)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FinalMark)
        </dd>

        

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EnrollmentId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
