@model PagedList.IPagedList<RMSDataModel.Enrollment>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Enrollment List";
}

<h2>@ViewBag.Title</h2>


<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-info btn-md", role = "button" })
</p>

<br /> <br />

@using (Html.BeginForm("Index", "Enrollments", FormMethod.Get))
{
    <p>

        @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control" })
        <br>
        <input type="submit" value="Search" class="btn btn-info" style="display:inline" />

    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Course", "Index", new { sortOrder = ViewBag.CourseSortParm })
        </th>

        <th>
            @Html.ActionLink("Student", "Index", new { sortOrder = ViewBag.NameSortParm })
        </th>
        <th>
            @Html.ActionLink("Semester", "Index", new { sortOrder = ViewBag.SemSortParm })
        </th>
        <th>
            @Html.ActionLink("Calender Year", "Index", new { sortOrder = ViewBag.YearSortParm })
        </th>
        <th>
            @Html.ActionLink("CE Mark", "Index", new { sortOrder = ViewBag.CESortParm })
        </th>
        <th>
            @Html.ActionLink("Final Mark", "Index", new { sortOrder = ViewBag.FinalSortParm })

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Course.Title)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Student.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Semester)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CalenderYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CEMark)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FinalMark)
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.EnrollmentId }) |
                @Html.ActionLink("Details", "Details", new { id = item.EnrollmentId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.EnrollmentId })
            </td>
        </tr>
    }

</table>
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))