@model RMSDataModel.Assignment

@{
    ViewBag.Title = "Assignment Details";
}

<h2>@ViewBag.Title</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Department.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Department.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Course.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Course.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Instructor.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Instructor.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Semester)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Semester)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CalenderYear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CalenderYear)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CETotal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CETotal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FinalExamTotal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FinalExamTotal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MarksheetFileName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MarksheetFileName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CEDeadline)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CEDeadline)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FinalDeadLine)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FinalDeadLine)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CESubmitted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CESubmitted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FinalSubmitted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FinalSubmitted)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AssignmentID }, new { @class = "btn btn-info btn-md", role = "button" }) |
    @Html.ActionLink("Back to List", "Index",null, new { @class = "btn btn-info btn-md", role = "button" })
</p>
