@model IEnumerable<RMSDataModel.Assignment>

@{
    ViewBag.Title = "Assignment List";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-info btn-md", role = "button" })
</p>
<table class="table ">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Department.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Course.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Instructor.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Semester)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CalenderYear)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.CETotal)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.FinalExamTotal)
        </th>

        @*<th>
            @Html.DisplayNameFor(model => model.MarksheetFileName)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.CEDeadline)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FinalDeadLine)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.CESubmitted)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FinalSubmitted)
        </th>
        <th ></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Department.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Course.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Instructor.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Semester)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CalenderYear)
        </td>

        <th>
            @Html.DisplayFor(modelItem => item.CETotal)
        </th>

        <th>
            @Html.DisplayFor(modelItem => item.FinalExamTotal)
        </th>
        @*<td>
            @Html.DisplayFor(modelItem => item.MarksheetFileName)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.CEDeadline)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FinalDeadLine)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CESubmitted)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FinalSubmitted)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.AssignmentID }) |
            @Html.ActionLink("Details", "Details", new { id = item.AssignmentID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.AssignmentID })
        </td>
    </tr>
}

</table>
