@model PagedList.IPagedList<RMSDataModel.Log>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Logs";
}

<h2>Logs</h2>

@using (Html.BeginForm("Index", "Logs", FormMethod.Get))
{
    <p>

        @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control" })
        <br />
        <input type="submit" value="Search" class="btn btn-info" style="display:inline" />

    </p>
}
<table class="table">
    <tr>

        <th>
            @Html.ActionLink("Date", "Index", new { sortOrder = ViewBag.DateSortParm })
        </th>
        <th>
            @Html.ActionLink("Instrucor", "Index", new { sortOrder = ViewBag.NameSortParm })
        </th>

        <th>
            @Html.ActionLink("Course", "Index", new { sortOrder = ViewBag.NameSortParm })
        </th>

        <th>
            @Html.ActionLink("Department", "Index", new { sortOrder = ViewBag.NameSortParm })
        </th>

        <th>
            @Html.ActionLink("Semester", "Index", new { sortOrder = ViewBag.NameSortParm })
        </th>
        <th>
            Log Message
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Assignment.Instructor.Name)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Assignment.Course.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Assignment.Department.Name)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Assignment.Semester)
            </td>



            <td>
                @Html.DisplayFor(modelItem => item.LogMessage)
            </td>
        </tr>
    }

</table>
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))