@model RMSDataModel.Student

@{
    ViewBag.Title = "Student Details";
}

<h2>@ViewBag.Title</h2>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Department.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Department.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RegistrationNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegistrationNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Session)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Session)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClassRoll)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClassRoll)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExamRoll)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExamRoll)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Semester)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Semester)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID },  new { @class = "btn btn-info btn-md", role = "button" }) |
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-info btn-md", role = "button" })
</p>
