@model IEnumerable<RMSDataModel.Enrollment>

@{
    ViewBag.Title = "StudentList";
}

<h2> @ViewBag.CourseName  Student List</h2>

@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Student.RegistrationNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Student.ClassRoll)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Student.ExamRoll)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Student.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Student.Session)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Student.Department.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Student.RegistrationNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Student.ClassRoll)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Student.ExamRoll)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Student.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Student.Session)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Student.Department.Name)
            </td>
            <td>
                @*@Html.ActionLink("Edit", "Edit", new { id=item.EnrollmentId }) |
                  @Html.ActionLink("Details", "Details", new { id=item.EnrollmentId }) |
                  @Html.ActionLink("Delete", "Delete", new { id=item.EnrollmentId })*@

            </td>
        </tr>
    }

</table>

<p>
    @Html.ActionLink("Back to My Course List", "Index", null, new { @class = "btn btn-info btn-md", role = "button" })
</p>